html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial
}

#root {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

#siteTitle {
  font-size: 1.5rem;
}

.flex-hori {
  display: flex;
  justify-content: space-between;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.navUrl {
  margin: 0.5rem;
  color: black;
}

.navUrl:hover {
  text-decoration: underline;
}

#profilePic {
  width: 50%;
}

#footer p {
  color: grey;
  font-size: 0.9rem;
  width: 50%;
  margin: 0;
}

#footer span {
  color: grey;
  font-size: 0.9rem;
}
